body {
  background-color: black;
  overflow: hidden; /* Hide scrollbars */
}
.matrix-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Important for containing falling characters */ 
}
.matrix-line {
  position: absolute;
  top: 0; /* Align the lines with the top edge */
  width: 10px; /* Adjust character width */
  height: 100%; 
  overflow: hidden; 
  opacity: 0.5; /* Adjust for faded effect */
}
.matrix-line span {
    color: limegreen;
    font-family: "Share Tech Mono", monospace;
    display: block;
    animation: matrix-fall 10s linear infinite; /* Adjust speed */
}
@keyframes matrix-fall {
  0% { top: -100%; }
  100% { top: 100%; }
}
@keyframes pulse {
  0%   { opacity: 0.5; }
  50%  { opacity: 1; }
  100% { opacity: 0.5; }
}
.output-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-family: monospace;
  color: limegreen;
}
.ip-display {
  animation: pulse 2s infinite alternate;
}
.sandbox {
  color: #C70000;
  font-size: 0.75em;
}
.tamper {
  display: none;
  color: #C70000;
  font-size: 0.75em;
}
.honey {
  opacity: 0;
  position: absolute;
  left: -9999px; 
}
