@font-face {
  font-family: 'DPoly';
  src: url('/static/fonts/DPoly Ten-Sider.otf') format('truetype');
}
@font-face {
  font-family: 'Whocats';
  src: url('/fonts/Whocats.otf') format('opentype'), 
       url('/fonts/Whocats.ttf') format('truetype'); 
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333333;
  text-align: center;
  display: flex; /* Center content */
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Keep content centered */
}
main {
  background: #f0e5c9;
  color: #784820;
  border: 4px double #a06e3b;
  font-size: 1.2em;
  line-height: 1.6; 
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  /* Centering the text */
  text-align: center;     /* Horizontal centering */
  align-items: center;    /* Center vertically within the flex container */
  justify-content: center; /* Center horizontally if there's extra space */
}
h1 {
  font-family: Whocats, sans-serif;
  font-size: 5em;
}
button {
  background-color: #3498DB; /* A pleasant blue color */
  color: #FFFFFF;            /* White text */
  border: none;              /* Remove default button border */
  padding: 10px 20px;        /* Add spacing within the button */
  text-decoration: none;     /* Remove underline if it's a link */
  cursor: pointer;           /* Indicate it's clickable */
  border-radius: 5px;        /* Rounded corners */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

button:hover {
  background-color: #2980B9; /* Slightly darker blue on hover */
}
.ipaddress {
  font-family: DPoly, sans-serif;
	font-size: 5em;
	font-weight:normal 
}
